# Cleaning Daily Ridership Data

This script cleans a csv of MTA daily ridership figures into a labelled tall format

In [95]:
import pandas as pd
import numpy as np
import os

Rows with empty values are dropped and irrelevant columns are dropped from the data set (e.g., bus, bridge, and Access-A-Ride columns)

In [96]:
# Read in data
df = pd.read_csv("../../data/00-raw-data/lirr-metro-north-data/mta-daily-ridership-data-beginning-2020-1.csv")
df.head()
df.shape
# Drop columns unrelated to analysis
df = df.drop(df.columns[9:],axis=1)
df = df.drop(df.columns[3:5],axis=1)
# Drop columns that are not of total estimated ridership
df = df.drop(df.columns[[2,4,6]],axis=1)
# Drop rows with NA values
df = df.dropna(axis=0)
print(df.columns)
df.head()

Index(['Date', 'Subways: Total Estimated Ridership',
       'LIRR: Total Estimated Ridership',
       'Metro-North: Total Estimated Ridership'],
      dtype='object')

,Date,Subways: Total Estimated Ridership,LIRR: Total Estimated Ridership,Metro-North: Total Estimated Ridership
17,2/28/2022,2921956,158200.0,148200.0
18,2/27/2022,1404750,66200.0,56000.0
19,2/26/2022,1826845,72700.0,62900.0
20,2/25/2022,2580174,116800.0,93200.0
21,2/24/2022,2864025,132500.0,110400.0

Dataframe must be pivoted to longer format by date, labelled by the agency associated with a given ridership statistic

In [97]:
# Pivot to longer format
df = df.melt(id_vars=df.columns[0] ,value_vars=df.columns[1:])
# Create column of labels
conditions = [
    (df['variable']=='Subways: Total Estimated Ridership'),
    (df['variable']=='Metro-North: Total Estimated Ridership'),
]
choices = ['Subways','MNR']
df['agency'] = np.select(conditions,choices, default='LIRR')
# Drop extraneous column
df = df.drop(['variable'],axis=1)
# Rename columns appropriately
df = df.rename(columns={'value':'total-ridership'})
print(df)
# print(df.shape)

           Date  total-ridership   agency
0     2/28/2022        2921956.0  Subways
1     2/27/2022        1404750.0  Subways
2     2/26/2022        1826845.0  Subways
3     2/25/2022        2580174.0  Subways
4     2/24/2022        2864025.0  Subways
...         ...              ...      ...
2089   4/5/2020           5600.0      MNR
2090   4/4/2020           8100.0      MNR
2091   4/3/2020          13200.0      MNR
2092   4/2/2020          13700.0      MNR
2093   4/1/2020          13600.0      MNR

[2094 rows x 3 columns]

In [98]:
# Save to csv and output ipynb to html
df.to_csv("../../data/01-modified-data/Daily-Ridership-Cleaned.csv")

os.system('jupyter nbconvert --to html Daily-Ridership-Cleaning.ipynb')

0