# Remote Station Lookup Cleaning

This script cleans the remote station lookup table (found here: https://qri.cloud/nyc-transit-data/remote_complex_lookup) by removing duplicate entries so it may be used in subsequent analyses.

In [1]:
import pandas as pd
import numpy as np
import os

In [18]:
df = pd.read_csv('../../data/00-raw-data/Remote-Station-Lookup.csv')

# Drop booth column (not used in further analyses)
df = df.drop(columns=['booth'])
# Drop duplicates and NA values
df = df.drop_duplicates()
df.dropna(inplace=True)

df.head()

  remote  complex_id        station line_name division
0   R001       635.0   WHITEHALL ST        R1      BMT
2   R001       635.0    SOUTH FERRY        R1      IRT
3   R002       628.0      FULTON ST  ACJZ2345      BMT
6   R003        86.0  CYPRESS HILLS         J      BMT
7   R004        85.0   ELDERTS LANE        JZ      BMT